---
layout: page
title: Categories
header: Posts By Category
group: navigation
img : 6.jpg
img-mobile : 6-mobile.jpg
---
{% include JB/setup %}
{% include themes/bootstrap/nav-bar.html %}
<div class="page-header container">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="title">{{ page.title }}</h1>
      {% if page.tagline %}
      <p class="lead">{{ page.tagline }}</p>{% endif %}
    </div>
  </div>
</div>

<div class="container">
<ul class="nav nav-pills">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>


{% for category in site.categories %}
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}
    {% include JB/pages_list %}
  </ul>
{% endfor %}
</div>
