<div class="side-bar sticky-top">

  <br>
  <br>
  <br>
  <br>
  
  <div class="card">
    <br />
    <img class="card-img-top img-fluid" src="{{ BASE_PATH }}/assets/img/big/about/antonio_trento_profile.png" alt="Antonio Trento profile image">
    <div class="card-block">
      <h4 class="card-title">Antonio Trento</h4>
      <p class="card-text">Appasionate to grow hacking and web marketing.</p>
      <p class="card-text">You can contact me by press a downstair social button.</p>
      {% include social-block.html %}
    </div>

  </div>
  
  
  <div>
   
    
  </div>
  
</div>
              