<!-- ************************** ADS BLOCK ***************************** -->
				{% if site.data-ad-client %}
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-9204963049240271"
                       data-ad-slot="2973388149"
                       data-ad-format="auto"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
        {% endif %}	